<a href="#{@parent_directory}">Parent Directory</a>
%ul
  - @folders.each do |entry|
    %li
      <a href="#{entry}/">#{entry}</a>
%hr/
%ul
  - @files.each do |entry|
    %li
      <a href="#{entry}">#{entry}</a>
